.Dress {
    display: flex;
    margin-top: 20vh;
    margin-bottom: 10vh;
    margin-left: 30vh;
    background-position: center;
    background-size: contain;
    border-radius: 4px;
    border: 5px solid rgba(0, 204, 255, 0.76);
}

h1 {
    text-transform: uppercase;
}

.name {
    color: red;
}

.desc {
    display: flex;
    justify-content: center;
}

.Content {
    margin-top: 20vh;
    justify-content: right;
    align-items: right;
    margin-left: 10vh;
}

.buy {
    height: 100px;
    width: 800 px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 30px;
    padding-left: 100px;
    margin-left: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-spacing: 1ch;
    align-items: center;
}

input[type="submit"] {
    width: 300px;
    height: 50px;
    border: 1px solid;
    background: blueviolet;
    border-radius: 50px;
    margin-left: 50px;
    font-size: 18px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover {
    background: rgba(0, 204, 255, 0.76);
    color: #fff;
    transition: 0.5s;
    box-shadow: 0px 0px 12px rgba(0, 204, 255, 0.76);
    border: hidden;
}